body {
    position: relative; 
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://github.githubassets.com/images/modules/site/home-campaign/footer-galaxy.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.3; 
    z-index: 1; 
}

.globe {
    width: 100%;
    height: 1100px;
    position: relative;
}

.globe-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.globe-img img {
    position: absolute;
    top: 53%;
    width: 400px;
    height: 400px;
}
